VITE_SUPABASE_URL=https://shkgxtbddjodolznrzlx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoa2d4dGJkZGpvZG9sem5yemx4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2OTI3NDQsImV4cCI6MjA5MDI2ODc0NH0.pX3SMCTRrvb5hLfaxZC8s5oxwnfC8PgNRa-uGfOuen8
VITE_API_BASE_URL=http://localhost:4000/api
