PORT=4000
SUPABASE_URL=https://shkgxtbddjodolznrzlx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoa2d4dGJkZGpvZG9sem5yemx4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY5Mjc0NCwiZXhwIjoyMDkwMjY4NzQ0fQ.hyJH8oa8rBaAOEyYpSoHrMOBkxD_09kKZ6LBJ9d-E3Y
AI_SERVER_URL=http://localhost:8000
ALPHA_VANTAGE_API_KEY=7YY7VK80ZP1PXMC7
