GEMINI_API_KEY=AIzaSyBZRHsJGqOgnybvDWFDcY3Gy6xCIQNYBf4
PINECONE_API_KEY=pcsk_6x3WpB_5h6mPGXqjngUuzZNswnmZKXnBcQM1QVCVCAYnc6mDQei1c1q9yhRbxmKsa8ZC8X
PINECONE_ENVIRONMENT=us-east-1
PINECONE_INDEX_NAME=agentbot
SUPABASE_URL=https://shkgxtbddjodolznrzlx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNoa2d4dGJkZGpvZG9sem5yemx4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDY5Mjc0NCwiZXhwIjoyMDkwMjY4NzQ0fQ.hyJH8oa8rBaAOEyYpSoHrMOBkxD_09kKZ6LBJ9d-E3Y
